# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
package-lock.json
yarn.lock*
yarn-error.log*
Velzon-React-2.0.zip
yarn.lock
yarn.lock
HashChads_LLC_Project_Overview.docx
~$shChads_LLC_Project_Overview.docx
