.btn-download:hover {
    border: 1px solid white !important
}

.btn-force {
    background-color: #37a26a !important;
}

/* .btn-success:focus {
    background-color: #37a26a !important;
    border-color: #37a26a !important;
}

.btn-success:hover {
    border-color: #37a26a !important;
}

.btn-success:checked {
    border-color: #37a26a !important;
}

.btn-success:active {
    border-color: #37a26a !important;
} */

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-green {
    color: green;
}

.text-whitc {
    color: white;
}

.text-red {
    color: red;
}

.text-grey {
    color: gray;
}

.text-hover {
    color: white;
}

.text-hover:hover {
    color: #1896b2 !important;
}

.fs-20 {
    font-size: 24px;
}

.fs-24 {
    font-size: 24px;
}

.fw-450 {
    font-weight: 450;
}

.mt-30 {
    margin-top: 30px;
}

.normal-background {
    background-color: blueviolet;
}

body {
    background-image: none;
    background-color: #0b1217 !important;
}

.text-symbol {
    color: #1896b2;
}

.cursor:hover {
    cursor: pointer;
}

.button-border {
    border: 1px solid white !important;
}

.w-full {
    width: 100%;
}

.border-expand {
    outline: 1px solid #333;
    outline-offset: -1px;

    &:hover {
        outline: none;
    }
}

.blink {
    animation: blinker 1s linear infinite;
    color: #ff007a;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.new-bg {
    background: #142028 !important;
}

#page-topbar {
    background: #142028 !important;
}

.badge-bg {
    background: #23323c !important;
}

.flex-column {
    flex-direction: column;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green !important;
}

.green-bg {
    background: green;
}