/* button css */
.btn-download:hover {
    border: 1px solid white !important
}

.btn-force {
    background-color: #37a26a !important;
}

.button-border {
    border: 1px solid white !important;
}

/* flex css */
.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

/* text css */
.text-green {
    color: green;
}

.text-whitc {
    color: white;
}

.text-red {
    color: red;
}

.text-grey {
    color: gray;
}

.text-hover {
    color: white;
}

.text-hover:hover {
    color: #1896b2 !important;
}

.text-buy {
    color: #cdffe7 !important
}

.text-sell {
    color: #ffacb1 !important;
}

.text-badge {
    color: #818ea3 !important
}

.text-symbol {
    color: #1896b2;
}

.text-center {
    text-align: center;
}

/* font css */
.fs-20 {
    font-size: 24px;
}

.fs-24 {
    font-size: 24px;
}

.fw-450 {
    font-weight: 450;
}

/* background css */
.normal-background {
    background-color: blueviolet;
}

body {
    background-image: none;
    background-color: #0b1217 !important;
}

.green-bg {
    background: green;
}

.badge-active-bg {
    background: #0b1217;
    border-radius: 5px;
}

.new-bg {
    background: #142028 !important;
}

#page-topbar {
    background: #142028 !important;
}

.badge-bg {
    border-radius: 5px;
    background: #23323c !important;
    min-height: 2rem;
}

/* border css */
.border-green {
    border: 1px solid green !important;
}

.border-expand {
    outline: 1px solid #333;
    outline-offset: -1px;

    &:hover {
        outline: none;
    }
}

.border-red {
    border: 1px solid red;
}

/* margin padding css */
.mr-0 {
    margin-right: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.mt-30 {
    margin-top: 30px;
}

/* other css */
.cursor:hover {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.w-auth {
    width: auto;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #ff007a;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}