.btn-download:hover {
    border: 1px solid white !important    
}

.btn-force {
    background-color: #37a26a !important;
}

/* .btn-success:focus {
    background-color: #37a26a !important;
    border-color: #37a26a !important;
}

.btn-success:hover {
    border-color: #37a26a !important;
}

.btn-success:checked {
    border-color: #37a26a !important;
}

.btn-success:active {
    border-color: #37a26a !important;
} */

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-whitc {
    color: white;
}

.fs-24 {
    font-size: 24px;
}

.fw-450 {
    font-weight: 450;
}

.mt-30 {
    margin-top: 30px;
}

.normal-background {
    background-color: blueviolet;
}

body {
    background-image: none;
    background-color: #1a1d21 !important;
}

.text-symbol {
    color: #1896b2;
}

.cursor:hover {
    cursor: pointer;
}
